*{
    padding: 0;
    margin: 0;
    font-family: 'Uncial Antiqua', cursive;
}

body {
    font-family: 'Uncial Antiqua', cursive;
    background-image:url(asset/background.png);
    background-size: cover;
}
header{
    width: 100%;
    font-size: larger;
}

nav > ul{
    list-style-type: none;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 30px;
}
nav > ul li{
    padding: 20px 15px;
    font-weight: bold;
}
p{
    color: black;
}

.text-highlight{
    color: #B22222;
}
.container{
    justify-items: center;
}

.headline >h3{
    color: #556B2F;
} 

.headline{
    text-align:center;
    margin: 20px;
}

.teamWrapper{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
}

.team-member{
    width: 100%;
    padding: 15px;
    text-align: center;
    background-color: #556B2F;
    border-radius: 5px;
}

.team-member img{
    width:100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5%;
}

.team-member >h3{
    margin-top: 5px;
}

.icons ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.icons svg {
    width: 20px;
    height: 20px;
}

.team-member{
    color: #D4AF37;
}

p{
color: #D4AF37;
    }